@model Bym.UI.Models.Domain.Reserva

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Quer mesmo deletar essa reseva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasReservadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasReservadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala)
        </dt>

        <dd>
            @string.Concat(Model.Sala.Nome
                ," - "
                ,Model.Sala.CapacidadeMaxima, " Lugares"
                ," - "
                ,Model.Sala.ValorHora, "/h"
                ," - "
                ,Model.Sala.Endereco.Logradouro, " ", Model.Sala.Endereco.Numero, " ", Model.Sala.Endereco.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
