@model Bym.UI.Models.Domain.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasReservadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasReservadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala)
        </dt>

        <dd>
            @string.Concat(Model.Sala.Nome
                ," - "
                ,Model.Sala.CapacidadeMaxima, " Lugares"
                ," - "
                ,Model.Sala.ValorHora, "/h"
                , " - "
                , Model.Sala.Endereco.Logradouro, " ", Model.Sala.Endereco.Numero, " ", Model.Sala.Endereco.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
